@import '../../../../shared/styles/form-page.shared.css';

.role-form-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.code-input-row {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.code-input-row input {
  flex: 1;
}
